{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{%
  set classes = [
  'region',
  'region-' ~ region|clean_class,
]
%}
{% if content %}
  <footer class="footer">
    <div class="content has-text-centered">
      <a href="https://www.instagram.com/iconicwatches" target="_blank">
        <span class="icon is-large" style="vertical-align: top;">
          <i class="fab fa-instagram fa-2x"></i>
        </span>
      </a>
      <a href="https://twitter.com/iconic_watches" target="_blank">
        <span class="icon is-large" style="vertical-align: top;">
          <i class="fab fa-twitter fa-2x"></i>
        </span>
      </a>
      <a href="https://www.pinterest.com/iconicwatches/" target="_blank">
        <span class="icon is-large" style="vertical-align: top;">
          <i class="fab fa-pinterest fa-2x"></i>
        </span>
      </a>
      <p>
        {{ content }}
      </p>
    </div>
  </footer>
{% endif %}
