{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{%
  set classes = [
    'input',
    'is-primary',
  ]
%}
<label class="label heading is-size-7 is-invisible">Soumettre</label>
<div class="field-body">
  <div class="field">
    <div class="control">
      <input{{ attributes.addClass(classes) }} />{{ children }}
    </div>
  </div>
</div>
